<% include partials/header %>

<section class="intro">
    <div class="inner">
        <div class="content">
            <h1 class="landingText">Anime Splash</h1>
            <a class="landingBtn" href="/animesplashs">View All Anime Arts</a>
        </div>
    </div>
    
</section>

<% include partials/footer %>